@page "/"
@inject NavigationManager NavManager
@using apartment_app.Data;

<link href="css/Index.css" rel="stylesheet" />

<h1>Search Properties</h1>
<h5>(Under Construction)</h5>
<h5>(Please Register and Login)</h5>

<div class="search">
    <input class="search-input" type="text" />
    <button class="btn btn-info" type="button">Search</button>
</div>

<table class="search-table table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Owner</th>
            <th scope="col">Address</th>
            <th scope="col">Rent</th>
            <th scope="col">Total Spaces</th>
            <th scope="col">Spaces avaiable</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < TempUserDB.Properties.Count; i++)
        {
            int index = i;
            <tr @onclick="@(() => NavManager.NavigateTo("/viewproperty/" + index))">
                <th scope="row">@(i + 1)</th>
                <td>@TempUserDB.Properties[i].Name</td>
                <td>@TempUserDB.Properties[i].Owner.FirstName</td>
                <td>@(TempUserDB.Properties[i].AddressLine1 + "\n" + @TempUserDB.Properties[i].AddressLine2)</td>
                <td>@(TempUserDB.Properties[i].Rent + "$")</td>
                <td>@TempUserDB.Properties[i].TotalSpaces</td>
                <td>@TempUserDB.Properties[i].SpacesAvailable</td>
                <td>@TempUserDB.Properties[i].Description</td>
            </tr>
        }
        </tbody>
</table>
