@page "/viewproperty"
@using apartment_app.Data;
<h1>View Property</h1>

<h3>Owner : @TempUserDB.Properties[TempUserDB.selectedProperty].Owner</h3>
<h3>Address : @TempUserDB.Properties[TempUserDB.selectedProperty].AddressLine1</h3>
<h3>          @TempUserDB.Properties[TempUserDB.selectedProperty].AddressLine2</h3>
<h3>Rent : @TempUserDB.Properties[TempUserDB.selectedProperty].Rent</h3>
<h3>Spaces : @TempUserDB.Properties[TempUserDB.selectedProperty].TotalSpaces</h3>
<h3>Spaces Available : @TempUserDB.Properties[TempUserDB.selectedProperty].SpacesAvailable</h3>
<h3>Description : @TempUserDB.Properties[TempUserDB.selectedProperty].Description</h3>
<button class="btn" type="button" style="border-color:black;">Contact Owner</button>
@code {

}
