@page
@model apartment_app.Areas.Identity.Pages.Properties.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].AddressLine1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].AddressLine2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Rent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].TotalSpaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].SpacesAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Property)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSpaces)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpacesAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
